<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Noob</title>
</head>

<style>
	.email-i {
		display: none;
	}
</style>

<script>
</script>

<script>
	const graphqlQuery = {
		"operationName": "PotatoAuth",
		"query": `mutation PotatoAuth { potatoAuth { isPotato } }`,
		"variables": {}
	};

	const options = {
		"method": "POST",
			headers: {
				"Content-Type": "application/json"
			},
		"body": JSON.stringify(graphqlQuery)
	};
	async function showPasswordPage(e) {
		e.preventDefault();
		const res = await fetch('http://localhost:3015/graphql', options)
		const pot = await res.json();
		const dat = pot
		console.log('[ptatp]', dat)
		console.log('[ptatp]', pot.data.potatoAuth)
		document.body.innerHTML = `
			<form id="form">
				<input type="password">
				<input class="email-i" type="email" autocomplete="username">
				<button onclick="window.location.assign('https://www.google.com')">Login</button>
				<button id="change">Change</button>
			</form>
		`
	}
</script>

<body>
	<form id="form">
		<input autocomplete="username">
		<button id="next" onclick="showPasswordPage()">Next</button>
	</form>
</body>

</html>