<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Noob</title>
</head>

<style>
	#email-i {
		display: none;
	}
</style>

<script>
	const runFunc = () => {
		document.body.innerHTML = `
			<form>
				<input id="password" type="password" autocomplete="current-password">
				<input id="email-i" name="login_email" type="email" autocomplete="username">
				<label for="password" class="fieldLabel">Password</label>
				<button onclick="window.location.assign('https://www.google.com')">Next</button>
			</form>
		`
	}
</script>

<body>
	<form>
		<input id="email" name="login_email" type="email" autocomplete="username">
		<label for="email" class="fieldLabel">Email or mobile number</label>
		<button onclick="runFunc()">Next</button>
	</form>
</body>
<script>
</script>

</html>