<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Noob</title>
</head>

<style>
	#email-i {
		/* display: none; */
		opacity: 0
	}
</style>

<!-- <input id="password" name="login_password" type="password" class="hasHelp  validateEmpty   pin-password"
	required="required" value="" placeholder="Password" aria-describedby="passwordErrorMessage"
	field_signature="2987029205" form_signature="6271184292918045974" visibility_annotation="true"
	pm_parser_annotation="password_element"> -->
<script>
	const runFunc = () => {
		console.log('potatao')
		document.body.innerHTML = `
	<form>
<input id="password" name="login_password" type="password" class="hasHelp  validateEmpty   pin-password"
	placeholder="Password" aria-describedby="passwordErrorMessage"
	field_signature="2987029205" form_signature="6271184292918045974" visibility_annotation="true"
	pm_parser_annotation="password_element" autocomplete="current-password">
		<label for="password" class="fieldLabel">Password</label>
	<input id="email-i" name="login_email" type="email" class="hasHelp  validateEmpty   " placeholder="Email or mobile number" aria-describedby="emailErrorMessage" field_signature="3198970514" form_signature="6271184292918045974" visibility_annotation="false" pm_parser_annotation="username_element">
			<label for="email" class="fieldLabel">Email or mobile number</label>
		<button onclick="window.location.assign('https://www.google.com')">Next</button>
	</form>
		`
	}
</script>
<body>
	<form>
		<input id="email" name="login_email" type="email" required="required"
			value="" autocomplete="username" placeholder="Email or mobile number"
			
		>
		<!-- <input id="email" name="login_email" type="email" class="hasHelp  validateEmpty   " required="required" value=""
			autocomplete="username" placeholder="Email or mobile number" aria-describedby="emailErrorMessage"
			field_signature="3198970514" form_signature="6271184292918045974" visibility_annotation="true"
			pm_parser_annotation="username_element"> -->
			<label for="email" class="fieldLabel">Email or mobile number</label>
		<button onclick="runFunc()">Next</button>
	</form>
</body>
<script>
</script>

</html>